.required {

    color: red;
}

.btn {
    margin-top: 30px;
    padding: 5px;

    border-radius: 10px;


}

#btnsubmit {

    margin-left: 60px;
    border: 2px solid green;
}

#btnCancel {

 
    border: 2px solid red;
}

#btnreset {

    
    border: 2px solid black;
}